* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  font-family: "Segoe UI", sans-serif;
}

.app {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 700px;
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.card h1 {
  text-align: center;
  color: #1e293b;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 30px;
}

.upload-box {
  border: 2px dashed #6366f1;
  border-radius: 20px;
  padding: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.upload-box:hover {
  background: #f8faff;
}

.upload-box input {
  display: none;
}

.upload-icon {
  font-size: 60px;
  color: #6366f1;
  margin-bottom: 15px;
}

.preview-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview-image {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  border-radius: 15px;
}

.file-details {
  background: #f8fafc;
  padding: 20px;
  border-radius: 15px;
}

.button-group {
  display: flex;
  gap: 15px;
}

.upload-btn {
  flex: 1;
  border: none;
  background: #6366f1;
  color: white;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn {
  width: 60px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.info-section {
  margin-top: 35px;
  background: #f8fafc;
  padding: 25px;
  border-radius: 15px;
}

.info-section h3 {
  margin-bottom: 15px;
}

.info-section ul {
  padding-left: 20px;
}

.info-section li {
  margin-bottom: 10px;
  color: #475569;
}

@media (max-width: 768px) {

  .card {
    padding: 25px;
  }

  .upload-box {
    padding: 30px;
  }

  .button-group {
    flex-direction: column;
  }

}

.history-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.history-container h2 {
  margin-bottom: 20px;
  color: #1f2937;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.history-table th {
  background: #111827;
  color: white;
  padding: 15px;
  text-align: left;
}

.history-table td {
  padding: 15px;
  border-bottom: 1px solid #e5e7eb;
}

.history-table tr:hover {
  background-color: #f9fafb;
}

.history-table tr:last-child td {
  border-bottom: none;
}

.history-container {
  overflow-x: auto;
}

.download-btn {
  background: #2563eb;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  transition: 0.3s;
}

.download-btn:hover {
  background: #1d4ed8;
}